@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* Global styles */
html {
  scroll-behavior: smooth;
  /* Optional: enhances smooth scrolling */
}

body {
  font-family: 'Arial', sans-serif;
}

@theme{
  --font-roboto:Roboto,"sans-serif";
}


/* Custom grid layout for ContactUs */
@media (min-width: 768px) {
  .custom-grid-responsive {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .custom-grid-responsive {
    grid-template-columns: repeat(3, 1fr);
  }
}